<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your Daily Recipe</h3>
    <a href=<%= @recipe.source_url %>>
      <%= @recipe.title %>
    </a>
    <p>Come back tomorrow for another recipe</p>
  </body>
</html>
