<div class="text-center">
  <h3>Welcome to Recipe Mailer</h3>
  <h4>Please enter your email to sign up for daily recipes</h4>

  <%= form_with(model: @email, local: true) do |form| %>
    <div class="field">
      <%= form.text_field :email %>
    </div>

    <div class="actions mt-1">
      <%= form.submit "Sign Up", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
